In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
data = pd.read_csv("wine_with_geolocation.csv")

In [3]:
data.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery,latitude,longitude
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,38.297137,-122.285529
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,41.521696,-5.393982
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,38.799624,-121.718297
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,45.411007,-122.660652
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,43.135772,5.752365

### Підготовка даних

In [4]:
data_new=data[["points","price", "description","country","province","region_1","variety","winery","designation",
               "latitude","longitude"]]

In [5]:
countries = data_new.country.value_counts(1)
varieties = data_new.variety.value_counts(1)
province=data_new.province.value_counts(1)
region_1=data_new.region_1.value_counts(1)
winery=data_new.winery.value_counts(1)
designation=data_new.designation.value_counts(1)

In [6]:
# створили пустий масив
data_columns_dummy=[]

In [7]:
#country
for i in range(sum(countries>0.01)):
    data_new['Dummy_'+countries.index[i]] = (data_new.country==countries.index[i])*1
    data_columns_dummy.append('Dummy_'+countries.index[i])

In [8]:
# country*points
for i in range(sum(countries>0.01)):
    data_new['Dps_'+countries.index[i]] = ((data_new.country==countries.index[i])*1)*(data.points)
    data_columns_dummy.append('Dps_'+countries.index[i])

In [9]:
#varieties
for i in range(sum(varieties>0.007)):
    data_new['Dummy_'+varieties.index[i]] = (data_new.variety==varieties.index[i])*1
    data_columns_dummy.append('Dummy_'+varieties.index[i])

In [10]:
#varieties*points
for i in range(sum(varieties>0.007)):
    data_new['Dps_'+varieties.index[i]] = ((data_new.variety==varieties.index[i])*1)*(data.points)
    data_columns_dummy.append('Dps_'+varieties.index[i])

In [11]:
#province
for i in range(sum(province>0.01)):
    data_new['Dummy_'+province.index[i]] = (data_new.province==province.index[i])*1
    data_columns_dummy.append('Dummy_'+province.index[i])

#provincepoints 
for i in range(sum(province>0.01)): datanew['Dps'+province.index[i]] = ((data_new.province==province.index[i])1)*(data.points) data_columnsdummy.append('Dps'+province.index[i])

#region_1 for i in range(sum(region_1>0.01)): datanew['Dummy'+region_1.index[i]] = (data_new.region_1==region_1.index[i])*1 data_columnsdummy.append('Dummy'+region_1.index[i])

#designation for i in range(sum(designation>0.001)): datanew['Dummy'+designation.index[i]] = (data_new.designation==designation.index[i])*1 data_columnsdummy.append('Dummy'+designation.index[i])

#winery for i in range(sum(winery>0.001)): datanew['Dummy'+winery.index[i]] = (data_new.winery==winery.index[i])*1 data_columnsdummy.append('Dummy'+winery.index[i])

#winerypoints for i in range(sum(winery>0.001)): datanew['Dps'+winery.index[i]] = ((data_new.winery==winery.index[i])1)*(data.points) data_columnsdummy.append('Dps'+winery.index[i])

In [12]:
data_new.head()

,points,price,description,country,province,region_1,variety,winery,designation,latitude,...,Dummy_Burgundy,Dummy_Veneto,Dummy_South Australia,Dummy_Piedmont,Dummy_Bordeaux,Dummy_New York,Dummy_Sicily & Sardinia,Dummy_Northeastern Italy,Dummy_Marlborough,Dummy_Loire Valley
0,96,235.0,This tremendous 100% varietal wine hails from ...,US,California,Napa Valley,Cabernet Sauvignon,Heitz,Martha's Vineyard,38.297137,...,0,0,0,0,0,0,0,0,0,0
1,96,110.0,"Ripe aromas of fig, blackberry and cassis are ...",Spain,Northern Spain,Toro,Tinta de Toro,Bodega Carmen Rodríguez,Carodorum Selección Especial Reserva,41.521696,...,0,0,0,0,0,0,0,0,0,0
2,96,90.0,Mac Watson honors the memory of a wine once ma...,US,California,Knights Valley,Sauvignon Blanc,Macauley,Special Selected Late Harvest,38.799624,...,0,0,0,0,0,0,0,0,0,0
3,96,65.0,"This spent 20 months in 30% new French oak, an...",US,Oregon,Willamette Valley,Pinot Noir,Ponzi,Reserve,45.411007,...,0,0,0,0,0,0,0,0,0,0
4,95,66.0,"This is the top wine from La Bégude, named aft...",France,Provence,Bandol,Provence red blend,Domaine de la Bégude,La Brûlade,43.135772,...,0,0,0,0,0,0,0,0,0,0

In [13]:
data=data_new

In [14]:
# Видалили стовпці з категоріальними даними
X=data.drop(["country","province","region_1","variety","winery","designation", "price","description"], axis=1)
X=np.array(X)

In [15]:
from sklearn.model_selection import train_test_split

from sklearn.metrics import  mean_squared_error, r2_score
from sklearn.model_selection import cross_val_score

from sklearn.feature_extraction.text import TfidfVectorizer

### Моделювання 
#### price= points+latitude+longitude+dammy(country+country*points+variety+variety*points+province)

In [16]:
y=data["price"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=0)

#### LinearRegression

In [17]:
from sklearn.linear_model import LinearRegression

lr=LinearRegression().fit(X_train, y_train)
print("lr.score_train: {:.3f}".format(lr.score(X_train,y_train)))
print("lr.score_test: {:.3f}".format(lr.score(X_test,y_test)))
#print("lr.score: {:.3f}".format(lr.score(X,y)))

lr.score_train: 0.325
lr.score_test: 0.359

In [18]:
y_pred_lr=lr.predict(X_test)
df_lr=pd.DataFrame(np.array([y_test,y_pred_lr]).transpose(),columns=["price","prediction_lr"])
df_lr.corr()

                  price  prediction_lr
price          1.000000       0.599832
prediction_lr  0.599832       1.000000

In [19]:
df_lr.corr(method='spearman')

                  price  prediction_lr
price          1.000000       0.679917
prediction_lr  0.679917       1.000000

#### *Decision Tree*

In [20]:
from sklearn.tree import DecisionTreeRegressor

tree = DecisionTreeRegressor(max_depth=50, random_state=0)
tree=tree.fit(X_train, y_train)
print("tree.score_train: {:.3f}".format(tree.score(X_train,y_train)))
print("tree.score_test: {:.3f}".format(tree.score(X_test,y_test)))
#print("tree.score_X: {:.3f}".format(tree.score(X,y)))

tree.score_train: 0.674
tree.score_test: 0.523

In [21]:
y_pred_tree=tree.predict(X_test)
df_tree=pd.DataFrame(np.array([y_test,y_pred_tree]).transpose(),columns=["price","prediction_tree"])
df_tree.corr()

                   price  prediction_tree
price            1.00000          0.73381
prediction_tree  0.73381          1.00000

In [22]:
df_tree.corr(method='spearman')

                    price  prediction_tree
price            1.000000         0.800245
prediction_tree  0.800245         1.000000

#### *KNeighbors*

In [23]:
from sklearn.neighbors import KNeighborsRegressor

#cross_val_score(knn, X, y, cv=5)
knn =KNeighborsRegressor(n_neighbors=15)
knn=knn.fit(X_train, y_train)
print("knn.score_train: {:.3f}".format(knn.score(X_train,y_train)))
print("knn.score_test: {:.3f}".format(knn.score(X_test,y_test)))
#print("knn.score: {:.3f}".format(knn.score(X,y)))

knn.score_train: 0.526
knn.score_test: 0.515

In [24]:
y_pred_knn=knn.predict(X_test)
df_knn=pd.DataFrame(np.array([y_test,y_pred_knn]).transpose(),columns=["price","prediction_knn"])
df_knn.corr()

                   price  prediction_knn
price           1.000000        0.717901
prediction_knn  0.717901        1.000000

In [25]:
df_knn.corr(method='spearman')

                  price  prediction_knn
price           1.00000         0.77438
prediction_knn  0.77438         1.00000

##### RandomForestRegressor

In [26]:
from sklearn.ensemble import RandomForestRegressor

forest = RandomForestRegressor(n_estimators=100, max_depth=50, random_state=0)
forest=forest.fit(X_train, y_train)
print("forest.score_train: {:.3f}".format(forest.score(X_train,y_train)))
print("forest.score_test: {:.3f}".format(forest.score(X_test,y_test)))
#print("forest.scoret: {:.3f}".format(forest.score(X,y)))

forest.score_train: 0.664
forest.score_test: 0.543

In [27]:
y_pred_forest=forest.predict(X_test)
df_forest=pd.DataFrame(np.array([y_test,y_pred_forest]).transpose(),columns=["price","prediction_forest"])
df_forest.corr()

                      price  prediction_forest
price              1.000000           0.742708
prediction_forest  0.742708           1.000000

In [28]:
df_forest.corr(method='spearman')

                      price  prediction_forest
price              1.000000           0.806743
prediction_forest  0.806743           1.000000

##### GradientBoostingRegressor

In [29]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import SGDRegressor

gbr =GradientBoostingRegressor(n_estimators=200, learning_rate=0.1, max_depth=15, random_state=0, loss='ls')
gbr=gbr.fit(X_train, y_train)
print("gbr.score_train: {:.3f}".format(gbr.score(X_train,y_train)))
print("gbr.score_test: {:.3f}".format(gbr.score(X_test,y_test)))
#print("gbr.scoret: {:.3f}".format(gbr.score(X,y)))

gbr.score_train: 0.672
gbr.score_test: 0.542

In [30]:
y_pred_gbr=gbr.predict(X_test)
df_gbr=pd.DataFrame(np.array([y_test,y_pred_gbr]).transpose(),columns=["price","prediction_gbr"])
df_gbr.corr()

                   price  prediction_gbr
price           1.000000        0.743382
prediction_gbr  0.743382        1.000000

In [31]:
df_gbr.corr(method='spearman')

                   price  prediction_gbr
price           1.000000        0.810136
prediction_gbr  0.810136        1.000000

### "Мішок слів"

#### SGDRegressor

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import SGDRegressor


vectorizer = TfidfVectorizer(stop_words='english', norm = None)

X_desc = vectorizer.fit_transform(data["description"])

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X_desc, y, test_size=0.3,random_state=0)

In [34]:
regr = SGDRegressor(average=True, warm_start=True, penalty='elasticnet')
regr.fit(X_train, y_train) 

y_pred_sgd=regr.predict(X_test)
print("regr.score_train: {:.3f}".format(regr.score(X_train,y_train)))
print("regr.score_test: {:.3f}".format(regr.score(X_test,y_test)))

print("regr.scoret: {:.3f}".format(regr.score(X_desc,y)))

C:\Users\Anatoliy\python_2.7\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDRegressor'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

regr.score_train: 0.522
regr.score_test: 0.362
regr.scoret: 0.479

In [35]:
df_text=pd.DataFrame(np.array([y_test,y_pred_sgd]).transpose(),columns=["price","prediction_SGD"])
df_text.corr()

                   price  prediction_SGD
price           1.000000        0.609683
prediction_SGD  0.609683        1.000000

In [36]:
df_text.corr(method='spearman')

                   price  prediction_SGD
price           1.000000        0.617751
prediction_SGD  0.617751        1.000000

Подивимось на кореляції з цільовою змінною.

In [37]:
predictions = {"Linear": y_pred_lr, "DecisionTree": y_pred_tree, "KNeighbors": y_pred_knn, 
               "RandomForest": y_pred_forest, "GradientBoosting": y_pred_gbr, "SGD": y_pred_sgd}
for key, value in predictions.items():
    print(key+"  "+str(np.corrcoef(value, y_test)[0,1]))

Linear  0.5998316925357516
RandomForest  0.7427084312066388
GradientBoosting  0.7433821437782943
DecisionTree  0.733810339479842
SGD  0.6096834728169552
KNeighbors  0.7179010466686633

Кореляції прогнозів між собою:

In [38]:
for key1, value1 in predictions.items():
    for key2, value2 in predictions.items():
        if key1!=key2:
            print(key1 +" and " + key2 + "   " +str(np.corrcoef(value1, value2)[0,1]))

Linear and RandomForest   0.7365114516858906
Linear and GradientBoosting   0.7245960428347611
Linear and DecisionTree   0.7137277904458653
Linear and SGD   0.5968833422214711
Linear and KNeighbors   0.7995881297606974
RandomForest and Linear   0.7365114516858906
RandomForest and GradientBoosting   0.9777327952160823
RandomForest and DecisionTree   0.9744583459452697
RandomForest and SGD   0.6021418818338814
RandomForest and KNeighbors   0.9141751130486278
GradientBoosting and Linear   0.7245960428347611
GradientBoosting and RandomForest   0.9777327952160823
GradientBoosting and DecisionTree   0.9903931097194797
GradientBoosting and SGD   0.6032174740095346
GradientBoosting and KNeighbors   0.8961793940594225
DecisionTree and Linear   0.7137277904458653
DecisionTree and RandomForest   0.9744583459452698
DecisionTree and GradientBoosting   0.9903931097194796
DecisionTree and SGD   0.594669571245082
DecisionTree and KNeighbors   0.8845412908503484
SGD and Linear   0.5968833422214711
SGD and RandomForest   0.6021418818338813
SGD and GradientBoosting   0.6032174740095346
SGD and DecisionTree   0.594669571245082
SGD and KNeighbors   0.6122074197048333
KNeighbors and Linear   0.7995881297606974
KNeighbors and RandomForest   0.9141751130486279
KNeighbors and GradientBoosting   0.8961793940594225
KNeighbors and DecisionTree   0.8845412908503483
KNeighbors and SGD   0.6122074197048333

Кореляції з "мішком слів".

In [39]:
predictions = {"Linear": y_pred_lr, "DecisionTree": y_pred_tree, "KNeighbors": y_pred_knn, 
               "RandomForest": y_pred_forest, "GradientBoosting": y_pred_gbr}
for key, value in predictions.items():
    print(key+"  "+str(np.corrcoef(value, y_pred_sgd)[0,1]))

RandomForest  0.6021418818338814
DecisionTree  0.594669571245082
Linear  0.5968833422214711
KNeighbors  0.6122074197048333
GradientBoosting  0.6032174740095346

 Подивимось на ансамбль розглянутих вище методів

In [46]:
a_sgd=0.3
a_forest=0.15
a_knn=0.15
a_lr=0.0
a_tree=0.1
a_gbr=0.3

In [47]:
y_pred_sum=a_sgd*y_pred_sgd+a_forest*y_pred_forest+a_knn*y_pred_knn+a_lr*y_pred_lr+a_tree*y_pred_tree+a_gbr*y_pred_gbr
#r2_score(y_test,y_pred_sum)
print("r2: {:.5f}".format(r2_score(y_test,y_pred_sum)))

r2: 0.59608

In [48]:
df_sum=pd.DataFrame(np.array([y_test,y_pred_sum]).transpose(),columns=["price","prediction_sum"])
df_sum.corr()

                   price  prediction_sum
price           1.000000        0.774375
prediction_sum  0.774375        1.000000

In [43]:
df_sum.corr(method='spearman')

                   price  prediction_sum
price           1.000000        0.810871
prediction_sum  0.810871        1.000000