In [9]:
import numpy as np
import pandas as pd
from sklearn import model_selection
from sklearn.preprocessing import  scale
from sklearn.model_selection import  cross_val_score, KFold
from sklearn.neighbors import KNeighborsClassifier

In [2]:
column_names = list(range(0,14))
column_names[0]="class"

In [3]:
data=pd.read_csv('wine.data', header = None, names=column_names)

In [4]:
data.head()

,class,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [5]:
data.shape

(178, 14)

In [6]:
# Виділили ознаки  X і цільову змінну y
X=data.drop('class', axis=1)
y=data['class']

In [10]:
kf = model_selection.KFold(n_splits=5, shuffle=True, random_state=42)

In [11]:
validation = cross_val_score(KNeighborsClassifier(n_neighbors=5), X, y, cv= kf)
print(validation)

[0.72222222 0.61111111 0.61111111 0.68571429 0.74285714]

In [12]:
optimal_mean=0
for i in range(1,51):
    validation = cross_val_score(KNeighborsClassifier(n_neighbors=i), X, y, cv= kf)
    mean=np.mean(validation)
    if mean>optimal_mean:
        optimal_mean=mean
        optimal_k=i
print( optimal_k, optimal_mean)

1 0.7304761904761905

In [13]:
# Масштабування ознак
X_scaled=scale(X)

In [14]:
optimal_mean=0
for i in range(1,51):
    validation = cross_val_score(KNeighborsClassifier(n_neighbors=i), X_scaled, y, cv= kf)
    mean=np.mean(validation)
    if mean>optimal_mean:
        optimal_mean=mean
        optimal_k=i
print( optimal_k, optimal_mean)

29 0.9776190476190475